
/* ==================================================================================================================================================== */
/* ==================================================================================================================================================== */
/* ==================================================================================================================================================== */
/* ==================================================================================================================================================== */
/* ==================================================================================================================================================== */
/* ==================================================================================================================================================== */
/* ==================================================================================================================================================== */
/* ==================================================================================================================================================== */
/* ==================================================================================================================================================== */
/* ==================================================================================================================================================== */
/* ==================================================================================================================================================== */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


*{
    outline: none;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}



.btn{
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;
    font-weight: medium;
    background-color: #fb565a;
    text-transform: uppercase;
    padding: 17px 55px 15px 55px;
    border-radius: 3px;
}

/* HEADER HEADER HEADER */

.header-navigation-list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-navigation-list a,
.header-navigation-list + .cart{
    font-size: 16px;
    line-height: 30px;
    color: #000000;
    text-decoration: none;
    font-weight: medium;
    text-transform: uppercase;
    display: block;
}

.header-navigation-list a:hover,
.header-navigation-list + .cart:hover{
    color: #fb565a;
}

.header-navigation-list a:active,
.header-navigation-list + .cart:active{
    opacity: 30%;
    color: #000000;
}

.catalog-page .page-here{
    position: relative;
}

.catalog-page .page-here::after{
    content: "";
    position: absolute;
    width: 100%;
    background-color: #fb565a;
    height: 2px;
    left: 0;
    bottom: -4px;
}

.catalog-page header-logo:hover{
    opacity: 80%;
}

.catalog-page .header-logo:active{
    opacity: 30%;
}

.header-navigation .cart{
    position: relative;
    padding-left: 40px;
}

.header-navigation .cart::before{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-image: url(../img/cart-icon.svg);
    background-size: 15px;
    left: 0px;
    top: 7px;
    filter: contrast(0) grayscale(0) opacity(0.6);
}



h1{
    font-size: 55px;
    line-height: 55px;
    font-weight: medium;
}

.slider h1{
    width: 520px;
}

.slider p{
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;  
    width: 408px;
}

.slider .btn{
    padding-left: 55px;
    padding-right: 54px;
}

.slider .btn:hover{
    background-color: #e74246;
}

.slider .btn:active{
    background-color: #d7373b;
    color: rgba(255, 255, 255, 0.3);
}


/* HEADER HEADER HEADER */

/* ADVANTAGES ADVANTAGES ADVANTAGES */

.section-advantages h3{
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.section-advantages p{
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    width: 245px;
}

.section-advantages .btn{
    padding-left: 40px;
    padding-right: 41px;
    box-sizing: border-box;
    padding-top: 13px;
    border-top: solid 3px #fb565a;
    
}

.section-advantages .advantages-button-red:hover{
    background-color: #e74246;
    border-top-color: #e74246;
}

.section-advantages .advantages-button-red:active{
    background-color: #d7373b;
    color: rgba(255, 255, 255, 0.3);
    border-top: solid 3px #c13135;
}

.section-advantages .advantages-button-green{
    background-color: #00ca74;
    border-top-color: #00ca74;
}

.section-advantages .advantages-button-green:hover{
    background-color: #00bc6c;
    border-top-color: #00bc6c;
}

.section-advantages .advantages-button-green:active{
    background-color: #00aa62;
    border-top-color: #009958;
    color: rgba(255, 255, 255, 0.3);
}

.section-advantages .advantages-button-yellow{
    background-color: #efc84a;
    border-top-color: #efc84a;
}

.section-advantages .advantages-button-yellow:hover{
    background-color: #eab534;
    border-top-color: #eab534;
}

.section-advantages .advantages-button-yellow:active{
    background-color: #e5a722;
    border-top-color: #ce961f;
    color: rgba(255, 255, 255, 0.3);
}

/* ADVANTAGES ADVANTAGES ADVANTAGES */

/* STUDIO STUDIO STUDIO STUDIO STUDIO */

.section-studio h3{
    font-size: 45px;
    line-height: 45px;
    font-weight: medium;
}

.section-studio p{
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
}

.section-studio h4{
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.section-studio ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

.studio-about li{
    line-height: 48px;
    position: relative;
    padding-left: 37px;
}

.studio-about li::before{
    position: absolute;
    content: "";
    background-color: #fb565a;
    width: 25px;
    height: 2px;
    left: 2px;
    top: 23px;
}

.statistics .statistics-percents{
    font-size: 45px;
    line-height: 10px;
    font-weight: bold;
}

.statistics sup{
    line-height: 0;
    font-size: 25px;
}

.statistics .statistics-value{
    line-height: 18px;
}

/* STUDIO STUDIO STUDIO STUDIO STUDIO */

/* SECTION-PROJECTS SECTION-PROJECTS SECTION-PROJECTS */

.section-projects{
    width: 1160px;
    margin: 0 auto;
    padding: 0;
    padding-top: 2px;
    padding-bottom: 8px;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.section-projects-wrapper{
    padding: 0;
    margin: 0;
    list-style: none;
    width: 1095px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.section-projects li{
    height: 170px;
    position: relative;
    flex: 0 1 210px;
}

.section-projects li::before{
    content: "";
    position: absolute;
    background-color: #000000;
    opacity: 0.1;
    width: 2px;
    height: 52px;
}

.section-projects li:nth-child(1)::before{
    content: none;
}

.section-projects li:nth-child(2)::before{
    left: -48px;
    top: 62px;
}

.section-projects li:nth-child(3)::before{
    left: -43px;
    top: 62px;
}

.section-projects li:nth-child(4)::before{
    left: -38px;
    top: 62px;
}

.section-projects img{
    opacity: 20%;
}

.section-projects img:hover{
    opacity: 100%;
}

.section-projects img:active{
    opacity: 10%;
}

.section-projects li:nth-child(1) img{
    position: absolute;
    top: 60px;
    left: 0;
}

.section-projects li:nth-child(2) img{
   position: absolute;
   top: 42px;
}

.section-projects li:nth-child(3) img{
    position: absolute;
    top: 60px;
    left: 15px;
}

.section-projects li:nth-child(4) img{
    position: absolute;
    top: 50px;
    right: 8px;
}

/* SECTION-PROJECTS SECTION-PROJECTS SECTION-PROJECTS */



/* FOOTER FOOTER FOOTER FOOTER FOOTER */

.article-contacts h4{
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
}

.article-contacts p{
    line-height: 18px;
    color: #666666;
}

.article-contacts .btn{
    padding-left: 44px;
    padding-right: 45px;
}

.article-contacts .btn:hover{
    background-color: #e74246;
}

.article-contacts .btn:active{
    background-color: #d7373b;
    color: rgba(255, 255, 255, 0.3);
}

.footer-slogan h2{
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
}

.footer-slogan p{
    line-height: 22px;
}


.network-container a{
    font-size: 0.1px;
    display: block;
    width: 78px;
    height: 78px;
    background-color: rgba(231, 66, 70, 0.2);
    filter: saturate(0);
    border-radius: 50%;
    position: relative;
}

.network-container a:nth-child(1)::before{
    content: "";
    position: absolute;
    width: 26px;
    height: 15px;
    background-image: url(../img/vk-icon.svg);
    left: 50%;
    top: 50%;
    transform: translate(-13px, -7px);
}

.network-container a:nth-child(2)::before{
    content: "";
    position: absolute;
    width: 12px;
    height: 22px;
    background-image: url(../img/fb-icon.svg);
    left: 50%;
    top: 50%;
    transform: translate(-6px, -11px);
}

.network-container a:nth-child(3)::before{
    content: "";
    position: absolute;
    width: 21px;
    height: 21px;
    background-image: url(../img/insta-icon.svg);
    left: 50%;
    top: 50%;
    transform: translate(-10.5px, -10.5px);
}

.network-container a:hover{
    background-color: rgba(231, 66, 70, 1);
    filter: none;
}

.network-container a:active{
    background-color: #d7373b;
    filter: none;
}

.network-container a:active::before{
    opacity: 30%;
}


/* FOOTER FOOTER FOOTER FOOTER FOOTER */



/* CATALOG CATALOG CATALOG CATALOG CATALOG */



/* HEADER HEADER HEADER */


/* HEADER HEADER HEADER */

/* FILTER FILTER FILTER */

form legend{
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

form .legend-cost{
    letter-spacing: 0.03em;
}

.container-range-value label{
    text-transform: uppercase;
    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
}

.container-range-value input{
    font: inherit;  
}

.container-range-value input::placeholder{
    font: inherit;
    color: #283136;
}

.container-layout input{
    display: none;
}

.container-layout label{
    position: relative;
    padding-left: 36px;
}

.container-layout label::before{
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: url(../img/radio-off.svg);
    left: 1px;
    top: -3px;
    filter: opacity(40%);
}

.container-layout input:checked + label::before{
    background-image: url(../img/radio-on.svg);
}

.container-layout label:hover::before{
    filter: opacity(1);
    transition: opacity 0.2s;
}

.container-features input{
    display: none;
}

.container-features label{
    position: relative;
    padding-left: 36px;
}

.container-features label::before{
    content: "";
    position: absolute;
    width: 23px;
    height: 23px;
    background-image: url(../img/checkbox-off.svg);
    left: 1px;
    top: -2px;
    filter: opacity(40%);
    transition: opacity 0.2s;
}

.container-features input:checked + label::before{
    width: 27px;
    height: 23px;
    background-image: url(../img/checkbox-on.svg);
}

.container-features label:hover::before{
    filter: opacity(1);
}

form .btn{
    border: none;        
    background-color: #eeeeee;
    color: #000000;
    padding: 14px 88px 15px 89px;
    font: inherit;
    font-weight: medium;
    border-top: 3px solid #eeeeee;
}

form .btn:hover{
    background-color: #dfdfdf;
    border-color: #dfdfdf;
}

form .btn:active{
    background-color: #d5d5d5;
    border-color: #bfbfbf;
}
    

/* FILTER FILTER FILTER */

/* SECTION-CATALOG SECTION-CATALOG SECTION-CATALOG */

.container-sorting h3{
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.container-sorting .cost-type-name{
    list-style: none;
    padding: 0;
    margin: 0;
}

.cost-type-name a{
    color: #000000;
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    opacity: 30%;
}

.cost-type-name .here{
    opacity: 1;
}

.cost-type-name a:hover{
    opacity: 60%;
}

.cost-type-name a:active{
    opacity: 1;
}

.down-up a{
    color: #000000;
    text-decoration: none;
    display: block;
    font-size: 0.1px;
    width: 11px;
    height: 10px;
}

.down-up a:first-child{
    background-image: url(../img/icon-down-dir.png);
    background-size: 11px 10px;
}

.down-up a:last-child{
    background-image: url(../img/icon-up-dir.svg);
    background-size: 11px 10px;
    filter: contrast(0) opacity(0.2);
}

.down-up a:hover{
    filter: contrast(0) opacity(1);
}

.down-up a:active{
    filter: contrast(1) opacity(1);
}

.container-templates{
    list-style: none;
    padding: 0;
    margin: 0;
}

.container-templates a:not(.btn){
    color: #000000;
    text-decoration: none;
}

.container-hover h3{
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.container-hover p{
    width: 230px;
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    color: #666666;
}

.container-hover .btn{
    padding: 13px 61px 15px 61px;
    border-top: 3px solid #fb565a;
}

.container-hover .btn:hover{
    border-top: 3px solid #e74246;
    background-color: #e74246;
}

.container-hover .btn:active{
    border-top: 3px solid #c13135;
    background-color: #d7373b;
}

.container-pagination{
    margin-left: 300px;
}

.container-pagination a{
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 48px;
    box-sizing: border-box;
    display: block;
    width: 50px;
    height: 50px;
    border: solid 3px #eeeeee;
    background-color: #eeeeee;
    text-align: center;
    vertical-align: middle;
    border-radius: 3px;

}

.container-pagination .pagination-here{
    border: solid 3px #dbdbdb;
    background-color: transparent;
}

.container-pagination .pagination-big{
    width: 260px;
}

.container-pagination a:hover{
    background-color: #dfdfdf;
    border-color: #dfdfdf;
}

.container-pagination a:active{
    background-color: #d5d5d5;
    border-color: #d5d5d5;
    border-top-color: #bfbfbf;
}

/* SECTION-CATALOG SECTION-CATALOG SECTION-CATALOG */
